
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family:'Noto san';
    src: url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
}

.grid {
    display: flex;
    align-content: center;
    justify-content: center;
}

.grid img {
    margin: 0;
    margin-right: 150px;
    width: 175px;
    justify-content: left;
    
}

:root {
    --primary-color: #FF9F1C ;
    --secondary-color: #EEE5E9;
    --accent1-color: #00FFFF;
    --accent2-color: #5CF64A;
    --accent3-color: #EC0B43;
    --accent4-color: #FFD400;
    --accent5-color: #E56399 ;
    --accent6-color: #23CE6B ;
    --accent7-color: #ADFC92 ;

    --heading-font:'Noto san',serif ;
    --paragraph-font:'inconsolata',serif ;

    --nav-background-color: #ffff;
    --nav-link-color:#70F8BA;
    --nav-hover-link-color:#CAFE48;
    --nav-hover-background-color:#000;
}


body{
    font-family: var(--paragraph-font) ;
    background-color: var(--nav-hover-background-color);
    
}

.hero img {
    display: block ;
    width: 100%;
    height: auto ;

}

.hero h1, article {
    position: absolute ;
    text-align: center;
    bottom: 200px;
    color: var(--accent5-color) ;

}

.hero div {
    position: relative;
    float: inline-start;

}

.hero h1 {
    color: var(--accent1-color) ;
    text-align: center;
    bottom: 300px;
    margin-left: 450px;
    margin-right: 300px;

}


section p {
    color: var(--accent2-color);
    font-family: 'noto san';
}

.hero article img {
    width: 200px;
    top: 50px;
    float: right;
    margin-right: 50px;
    
}
section h2 {
    margin-top: 15px;
    color: cyan;
    margin-right: 50px;
}

figcaption {
    margin-right: 50px;
}

.hero article p{
    color: var(--accent5-color);
    font-family: 'Noto san';
    padding: 0;
    margin-top: 75px;
    bottom: 250px;
}
nav{
    font-size: 1.2rem;
    display: flex;
    text-align: center;
    margin-right: 400px;
    padding: 0%;
    justify-content: space-evenly;
}

nav a{
    display: contents;
    color: var(--nav-hover-link-color);
    font-family: 'noto sans';
    text-decoration: none;
    font-size: 1.2rem;
    padding: 1rem;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 40px;
}

nav a:link, nav a:visited{
    color: var(--accent2-color);
    display: inline;
    overflow: hidden;
    display: flex;
    align-items: center;
}

nav a:hover{
    color: var(--accent5-color);
}
h2{
    color: var(--accent4-color);
    text-align: center;
}

figcaption { 
    text-align: center;
    font-family: 'inconsolata';
    font-size: 1.2rem;
    margin-right: 200px;
    color: var(--accent4-color);
}

footer {
    color: var(--accent1-color);
    font-family: 'inconsolata';
    display: block;
    text-align: center;
    margin-left: 200px;
    margin-top: 50px;
    bottom: 200px;
}

.sociallinks {
    display: contents;
}