
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


@font-face {
    font-family:'Noto san';
    src: url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
}

.grid {
    display: grid;
    text-align: center;
    justify-content: space-between;
}

.grid img {
    width: 200px;
    margin-left: 25px;
}
.grid ul{
    display: flex;
    list-style-type: none;
    place-content: center;
    text-align: center;
    margin-left: 200px;
    
}

header img  {
    width: 200px;
}

:root {
    --primary-color: #FF9F1C ;
    --secondary-color: #080708;
    --accent1-color: #FDCA40;
    --accent2-color: #D00000;
    --accent3-color: #000;
    --accent4-color: #000;
    --accent5-color: #6153CC;
    --accent6-color: #23CE6B ;
    --accent7-color: #EDDEA4;

    --heading-font:'Noto san',serif ;
    --paragraph-font:'inconsolata',serif ;

    --nav-link-color:#70F8BA;
    --nav-hover-link-color:#CAFE48;
    --nav-hover-background-color:#ffff;
}


body{
    font-family: var(--paragraph-font) ;
    background-color: var(--nav-hover-background-color);
    padding: 0;
    
}

.hero img {
    display: block ;
    width: 100%;
    height: auto ;

}

.hero h1, article {
    position: absolute ;
    text-align: center;
    bottom: 200px;
    color: var(--accent4-color) ;

}

.hero div {
    position: relative;

}

.hero article {
    display: inline;
}

h1{
    color: var(--accent4-color);
    text-align: center;
    font-family: 'inconsolata';
}
.maps {
    min-height: 30%;
    float: right;
    border: 0;
}
.hero h1 {
    color: #fff ;
    text-align: center;
    bottom: 300px;
    margin-left: 450px;
    margin-right: 300px;

}

section p {
    color: var(--accent3-color);
    font-family: 'open sans';
}

.hero article img {
    width: 200px;
    float: right;
    margin-right: 50px;
    
}
section h2 {
    margin-top: 15px;
    color: var(--accent4-color);
    margin-right: 50px;
}
.container {
    display: flex;
    justify-content: space-evenly;
    
}

.contact-box {
    background-color: var(--nav-hover-background-color);
    display: flex;
}


.contact-left {
    flex-basis:  60%;
    padding: 40px 60px;
    font-weight: 600;
}

.contact-left h3 {
    color: var(--accent4-color);
    font-family: 'Open sans';
}

.contact-right {
     flex-basis:  40%;
    padding: 40px;
    background-color:var(--accent4-color);

}

.contact-right h3 {
    color: var(--accent7-color);
    font-family: 'open sans';

}
    
.input-row .inputrow {
    flex-basis: 45%;
}
h3 {
    color: var(--accent3-color);
    font-family: 'Open sans';
}

p {
    color: var(--accent3-color);
    text-align: center;
    font-family: 'open sans';
}
.signup {
    width: 80%;
    margin: 50px auto;
    margin-bottom: 50px;
    border: 2px solid var(--accent3-color);
}

.signup h1 {
    color: var(--accent3-color);
    text-align: center;
}

textarea {
    width: 100%;
    outline: none;
    border: 2px solid var(--accent4-color);
    padding: 15px;
    box-sizing: border-box;
}

input {
    
    min-height: .5em;
    min-width: 60%;
    border: none ;
    padding: 5px;
    align-content: center;
    margin-left: 10px;
    width: 100%;
    outline: none;
}

label {
    font-family: 'open sans';
    color: var(--accent3-color) ;
}

button {
    color: var(--accent7-color);
    font-family: 'open sans';
    font-size: 1rem;
    background-color: var(--accent4-color);
    border-radius: 30px;
    width: 200px;
    justify-content: center;
    min-height: 2.5em;
    min-width: 20%;
    border: solid 1px #999;
    text-align: center;
    margin-left: 50px;
    margin-bottom: 20px;
    font-family: 'ubuntu sans';
    box-shadow: 0px 5px 15px 0px rgba(73, 75, 75, 0.3);
}

.row{
    display: inline-block;
    margin-top: 100px;
    margin-right: 0;
    justify-content: space-evenly;
}

.row figcaption {
    display: table;
    margin-left: 60px;
    margin-right: 60px;
    font-family: 'open sans';
}

.row-2{
    display: inline-block;
    margin-top: 100px;
    margin-right: 0;
    justify-content: space-evenly;
}
.row-2 figcaption {
    display: table;
    margin-left: 60px;
    margin-right: 50px;
    font-family: 'open sans';
}

.column {
    display: grid ;
}

.column img{
    justify-content: center;
    align-content: center;
    float: right;
    margin-left: 450px;
}

.hero article p{
    color: var(--nav-hover-background-color);
    font-family: 'Open sans';
    padding: 0;
    font-size: small;
    margin-top: 75px;
    bottom: 200px;
}
nav{
    font-size: 1.2rem;
    display: flex;
    text-align: center;
    margin-right: 400px;
    padding: 0%;
    justify-content: space-evenly;
}

nav a{
    display: flex;
    color: var(--primary-color);
    font-family: 'noto sans';
    background-color: var(--nav-hover-background-color);
    text-decoration: none;
    font-size: 1.2rem;
    padding: 1rem;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 40px;
}

nav a:link, nav a:visited{
    color: var(--accent4-color);
    justify-content: space-between;
    text-align: center;
    overflow: hidden;
    display: flex;
    align-items: center;
}

nav a:hover{
    color: var(--accent1-color);
}

h2{
    text-align: center;
}


figcaption { 
    text-align: center;
    font-family: 'inconsolata';
    background-color: var(--nav-hover-background-color);
    font-size: 1.2rem;
    margin-right: 190px;
    color: var(--accent4-color);
}

footer {
    text-align: center;
    padding-top: 60px;
    margin-left: 300px;
    color: var(--accent4-color);
    clear: both;
    font-family: 'open sans';
}

.Wireframe {
    margin: 0px;
    text-align: center;
    margin-right: 400px;
    margin-left: 200px;
}

.sociallinks{
    display: inline-flex;
    margin: 0 10px;
    margin-left: 200px;

}


.hero-2 img {
    display: block ;
    width: 100%;
    height: auto ;

}

.hero-2 h1, article{
    display: grid;
    position: absolute ;
    text-align: center;
    bottom: 200px;
    color: var(--nav-hover-background-color) ;

}

.hero-2 article h3 {
    margin-left: 200px;
    color: var(--nav-hover-background-color);
}
.action {
    text-align: center;
    margin-left: 70px;
}

.action a{
    width: 20%;
    color: var(--accent7-color);
    text-decoration: none;
    background-color: #080708;
    border-radius: 5px;
}
.hero-2 {
    position: relative;
    overflow: hidden;
    display: grid;

}
.background-overlay {
    background: linear-gradient(to right, rgb(54, 53, 53) 0%, rgba(121, 120, 119, 0.7) 100%);
    position: absolute;
    opacity: 90%;
    top: 0;
    width: 100%;
    height: 100%;
}
.hero-2 h1 {
    color: #fff;
    text-align: center;
    bottom: 400px;
    opacity: 90%;
    margin-left: 450px;
    margin-right: 300px;

}
.hero-2 article p {
    color: var(--accent7-color);
    font-family: 'Open sans';
    font-size: small;
    width: 40%;
    top: 400px;
    text-align: center;
    margin-left: 500px;
    bottom: 50px;
}

.hero-2 button {
    color: var(--accent7-color);
    font-family: 'open sans';
    font-size: 1rem;
    background-color: var(--accent3-color);
    border-radius: 15px;
    width: 100px;
    min-height: 2.5em;
    min-width: 40%;
    border: solid 1px #999;
    text-align: center;
    font-family: 'Inconsolata';
    box-shadow: 0px 5px 15px 0px rgba(9, 24, 121, 0.3); 
    position: relative;
    margin-top: 30px;
}

.table {
    display: grid;
    width: 70%;
    margin-left: 370px;
    font-weight: bold;
    justify-content: space-between;
    width: 500px;
}

.table img {
    align-items: center;
    margin-left: 90px;
    width: 300px;
}
.hero-2 p {
 margin-right: 100px;
}

tr {
    font-family: 'open sans';
    font-size: small;
}

.newsletter {
    top: 50px;
    width: 20%;
    position: absolute;
    padding: 10px 40px;
    margin-left: 50px;
    box-sizing: border-box;
    min-width: 500px;
    margin-bottom: 400px;
    
}

.header h3 {
    margin-left: 350px;
    position:absolute;
    margin-top: 120px;
    color: var(--nav-hover-background-color);
}

.header p{
    position:absolute;
    float: left;
    top: 160px;
    margin-left: 130px;
    color: var(--nav-hover-background-color);
}

h3 a {
    text-decoration: none;
    color: #EDDEA4;
}
.newsletter input {
   margin-right: 100px;
}

.newsletter h2 {
    color: var(--nav-hover-background-color);
}

.newsletter button {
    margin-right: 40px;
    width: 50%;
}
.hero-2 article {
    margin-bottom: 100px;
    height: 20px;
}

.hero-2 label {
    color: var(--nav-hover-background-color);
}

.figcaption-2 {
    text-align: center;
    margin-right: 150px;
}

.article-3 img {
    float: left;
    position: relative;
    width: 200px;
    margin-left: 100px;
    bottom: 150px;
}

.article-4 img{
    width: 300px;
    position: relative;
    margin-left: 700px;
    float: right;
    top: 100px;
}
.trips img {
   width: 100%;
   display: flex;
   height: auto;
}

.grid-container {
    display: grid;
}

.Photo {
    margin-left: 700px;
    float: right;
    top: 200px;
    width: 300px;
}