@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family:var(--paragraph-font);
    max-width: 960px;
    padding: 20px;

}

@font-face {
    font-family:'Noto sans';
    src: url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
    ;
}

:root {
    --primary-color: (#EEE5E9)
    --secondary-color: (#D64933)
    --accent1-color: (#000000)
    --accent2-color: (#92DCE5)

    --heading-font:'Noto san',serif ;
    --paragraph-font:'san',serif ;

    --nav-background-color: (#524948) 
    --nav-link-color:(#70F8BA)
    --nav-hover-link-color: (#CAFE48)
    --nav-hover-background-color:(#7CB4B8)
  
}

h1,h2,h3,h4,h5,h6{
    font-family:var(--heading-font);
    color: var(--primary-color);
}

header{
    padding: 20px;
    background-color:var(--accent1-color);
}

p{
    padding: 25px;
}

nav{
    background-color:var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a{
    display: block;
    color: var(--nav);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited{
    color: var(--nav-a-link-color);
}

nav a:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}