@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@font-face {
    font-family: 'open sans';
    src: url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
}
@font-face {
    font-family: 'Ubuntu sans';
    src: url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
}
:root {

    --primary-color: #564787 ;
    --secondary-color: #9AD4D6 ;
    --accent1-color: #101935 ;
    --accent2-color: #F2FDFF;
    --accent3-color: #DBCBD8;
    --accent4-color: #2C365E;
    --acent5-color: #5F00BA; 
    --accent6-color: #363537;
    --accent7-color:#000 ;

    --background-color:#0C0C0C;
    --text-color: #2AF5FF;
}

body {
    background-color: var(--accent4-color);
}

form {
    align-content: center;
    text-align: left;
    margin-top: 30px;
    margin-left: 400px;
    border-radius: 30px;
}

h1 {
    color: var(--secondary-color);
    text-align: center;
    font-family: 'Ubuntu Sans' ;
}
p{
    color: var(--acent4-color);
    font-size: 1rem;
}

label {
    color: #FAF33E;
    font-family: 'Open sans';
}
input {
    padding: .5em;
    min-height: .5em;
    min-width: 53%;
    border: #DBCBD8;
}

select {
    padding: .5em;
    min-height: .5em;
    min-width: 55%;
    border: #DBCBD8;
}
textarea {
    min-height: 2em;
    min-width: 45%;
    padding: 3em;
    border: solid 1px #999;
}

button {
    color: var(--text-color);
    font-family: 'Open sans';
    font-size: 1rem;
    background-color: var(--acent5-color);
    border-radius: 5px;
    width: 300px;
    justify-content: center;
    min-height: 3em;
    min-width: 55%;
    padding: .3em;
    border: solid 1px #999;
    text-align: center;
}


button a :hover {
    color: var(--accent4-color);
}
