* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: aqua ;
    text-align: center;
    margin: 0;
    border-bottom: 1px solid aqua;
    top: 15px;
}

header, footer, .grid{
    margin: 0 auto;
    max-width: 840px;
}
a link {
  color: yellowgreen;
}


.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}
a:visited{
    color: gainsboro;
}

a:hover{
     color: red;
}

.headings {
    color: rgb(35,110, 150);
    font-family: sans-serif;

}


nav {
    text-align: center;
    background-color: #6f2da8;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

nav a {
    color: #FFFF00;
    display: block;
    text-decoration: none;
    padding: 0.5rem; 
    font-size: 1.2rem;
    font-weight: 700;
    display: inline;
    overflow: hidden;
    text-align: center;

}

main img{
    width: 150px;
    height: auto;
    float: right;
    margin:0 0 1rem 1rem;
}
body {
    color: #9DFFF9;
    font-family: sans-serif;
    background-color: #0D21A1; 
    margin: auto;
}


p {
    padding: 0;
    font-family: sans-serif;
    
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0,0,0,0.2) ;
    padding: 1rem;
    background-color: #eee ;
    color: #642CA9;
    text-align: center;
    font-family: sans-serif;
    width: 20em;
    text-align: center;
    position: relative;

}

aside img {
    width: 200px;
    height: auto;
}
aside h2 {
    position: absolute;
    top: 35px;
    left: 120px;
}

footer {
    color: rgb(255, 215, 0);
    margin-top: 15px;
    border-top: 1px solid rgb(255, 215, 0);
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0,0.1);
    padding: 1rem;
    background-color: #6f2da8;
    color: #89FC00;

}

.box a{
    color: #FFFF00;
    text-decoration: none;
}

.box a:hover {
    color: #FF9F1C;
}