* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: aqua;
    text-align: center;
    margin: 0;
    margin-left: 400px;
}

a link {
  color: yellowgreen;
}



a:visited{
    color: gainsboro;
}

a:hover{
     color: red;
}

.headings {
    color: rgb(35,110, 150);
    font-family: sans-serif;

}

main{
    max-width: 840px;
    margin-right: 10px;
    margin-left: 10px;

}

nav {
    text-align: center;
    background-color: #7d535311;
    margin: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

nav a {
    color: #0FFF95;
    text-decoration: none;
    padding: 15px;
    display: inline;
    overflow: hidden;
    text-align: center;

}

main img{
    width: 150px;
    height: auto;
    float: right;
    margin:0 0 1rem 1rem;
}
body {
    color: #E0FF4F;
    font-family: sans-serif;
    background-color: #143642; 
    margin: auto;
}


p {
    padding: 0;
    font-family: sans-serif;
    
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0,0,0,0.2) ;
    padding: 1rem;
    background-color: #eee ;
    color: #333;
    text-align: center;
    font-family: sans-serif;
    width: 20em;
    text-align: center;
    position: relative;

}

aside img {
    width: 200px;
    height: auto;
}
aside h2 {
    position: absolute;
    top: 35px;
    left: 120px;
}

footer {
    color: rgb(255, 215, 0);
    margin-top: 15px;
    border-top: 1px solid rgb(255, 215, 0);
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0,0.1);
    padding: 1rem;
    background-color: #DAD2D8;
    color: #A8201A;

}

.box a{
    color: #EC9A29;
    text-decoration: none;
}

.box a:hover {
    color: #CBA135;
}